.blogs 
{
	width: 300px;
	text-align: center;
	border-radius: 8px 8px;
	margin-bottom: 5px;
}
.etiqueta-blog
{
	background: -webkit-linear-gradient(#fff, #E5C85A);
	background: -o-linear-gradient(#fff, #E5C85A);
	background: -moz-linear-gradient(#fff, #E5C85A);
}
.etiqueta-blog:hover
{
	background: -webkit-linear-gradient(#fff, #E1B64D);
	background: -o-linear-gradient(#fff, #E1B64D);
	background: -moz-linear-gradient(#fff, #E1B64D);
}
.blog-a
{
	font-size: 20px;
	color: #7C391C;
}
/*Sección de blog*/
.tabla-blog
{
	background-color: #EDCA56;
	color: #260002;
	border: none;
}
.blog-h3
{
	font-size: 20px;
	text-align: center;
	background-color: transparent;
}
.img-productos
{
	width: 130px;
	height: 130px;
}